MyCRM.Web/bin/Debug/netcoreapp2.1/MyCRM.Web.deps.json
MyCRM.Web/bin/Debug/netcoreapp2.1/MyCRM.Web.dll
MyCRM.Web/bin/Debug/netcoreapp2.1/MyCRM.Web.pdb
MyCRM.Web/bin/Debug/netcoreapp2.1/MyCRM.Web.runtimeconfig.dev.json
MyCRM.Web/bin/Debug/netcoreapp2.1/MyCRM.Web.runtimeconfig.json
MyCRM.Web/bin/Debug/netcoreapp2.1/MyCRM.Web.Views.dll
MyCRM.Web/bin/Debug/netcoreapp2.1/MyCRM.Web.Views.pdb
